header {
    nav {
        ul {
            list-style: none;
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);
        }
    }
    li {
        padding: 10px;
        a {
            color: $black;
        }
    }
}